.createDream {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #95C5E7;
}

.logo {
    width: 300px;
    margin-top: 50px;
}
.text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 15px;

}
.input-field {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 88%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-color: white;
    position: relative;
    overflow-wrap: break-word;
    resize: none; /* 사용자가 텍스트 영역의 크기를 변경하는 것을 방지합니다 */
    padding: 10px; /* 텍스트가 상단에서 시작하도록 패딩을 추가합니다 */
}


.mike-btn {
    position: absolute;
    right: 43%;
    bottom: 35%;
    width: 50px; /* 원하는 너비로 조정 */
    height: 50px; /* 원하는 높이로 조정 */
}

.draw-btn {
    width: 60%;
    height: 60px;
    margin-top: 10px;
    background-color: #388DD5;
    border-radius: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.gallery-btn
{
    width: 200px;
    height: 60px;
    margin-top: 10px;
    background-color: #388DD5;
    border-radius: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.dream-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dream-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.dream-image {
    width: 300px;
    height: auto;
    margin: 10px 0;
}

.dream-description {
    font-size: 18px;
    color: #333;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 290px;
}

.dream-resolution {
    font-size: 18px;
    color: #333;
    width: 290px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.today-checklist{
    font-size: 18px;
    color: #333;
    width: 290px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 15px;
}
.fun-fact {
    font-size: 18px;
    color: #333;
    width: 290px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 15px;
}
.loading-effect{
    align-items: center;
}
.dream_load_text{
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
}
.loading_text {
    margin : 0px
}
@keyframes loading-dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 white;
    }
}

.loading-dots {
    animation: loading-dots 1.25s infinite;
}
