body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.header h2 {
    position: absolute;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 10px;
    border: 1px solid #f0f0f0;
}

.image-container {
    position: relative;
    margin-top: 100px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.public-checkbox-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.public-checkbox {
    margin-right: 5px;
}

.icons {
    display: flex;
    padding: 0 10px 10px;
}

.like {
    margin-right: 10px;
}

.content {
    padding: 0 10px;
    margin-bottom: 80px;
}

.dream,
.resolution {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.checklist {
    list-style-type: none; /* 번호를 없애기 위해 변경 */
    padding-left: 0; /* 번호를 없애기 위해 변경 */
    background-color: #f0f0f0; /* 배경색 추가 */
    border-radius: 5px; /* 둥근 모서리 추가 */
    padding: 10px; /* 패딩 추가 */
    margin-bottom: 10px; /* 마진 추가 */
}
