body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.header h2 {
    position: absolute;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 10px;
    border: 1px solid #f0f0f0;
}

.image-container {
    position: relative;
    margin-top: 100px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.public-checkbox-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.public-checkbox {
    margin-right: 5px;
}

.icons {
    display: flex;
    padding: 0 10px 10px;
}

.like {
    margin-right: 10px;
}

.content {
    padding: 0 10px;
    margin-bottom: 80px;
}

.dream,
.resolution {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.checklist {
    list-style-type: none; /* 번호를 없애기 위해 변경 */
    padding-left: 0; /* 번호를 없애기 위해 변경 */
    background-color: #f0f0f0; /* 배경색 추가 */
    border-radius: 5px; /* 둥근 모서리 추가 */
    padding: 10px; /* 패딩 추가 */
    margin-bottom: 10px; /* 마진 추가 */
}

.public-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.public-status-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.public-status-button:hover {
    background-color: #45a049;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.public-status-container {
    position: absolute;
    top: 410px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

