
.main .header {
    display: flex;
    justify-content: space-between; /* 로고와 버튼을 양쪽으로 정렬 */
    position: fixed;
    padding: 10px;
    background-color: white;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #d3d3d3; /* 밑줄 추가 */
}

.main .logo {
    height: 30px;
    width: auto;
    margin: 5px; /* 상단 마진 제거 */
}

.button-group {
    display: flex;
    align-items: center; /* 버튼을 중앙에 정렬 */
}

.main .button_register {
    padding:10px 15px;
    border: none;
    border-radius: 30px; /* 버튼의 모서리를 둥글게 만듭니다 */
    background-color: rgb(114, 189, 114);
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 2px;
}


.button:hover {
    background-color: #27a0dc;
}

.content {
    padding-top: 100px;

}
.content2{
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

.main .content .section {
    padding: 20px; /* 섹션 주위에 공간을 만들어 줍니다 */
    text-align: center; /* 텍스트를 중앙에 위치시킵니다 */
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 253, 230, 1) 30%, rgba(237, 253, 227, 1) 30%);
}

.section .p{
    font-size: 24px; /* 첫 번째 문단의 글자 크기를 늘립니다 */
    font-weight: bold; /* 첫 번째 문단을 굵게 만들어 강조 효과를 줍니다 */
    margin: 0px;
}

.main .content .section .button{
    padding: 15px 45px;
    border: none;
    border-radius: 50px; /* 버튼의 모서리를 둥글게 만듭니다 */
    background-color: rgb(114, 189, 114);
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;
    border: 1px solid #72bd72;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .jelly{
    display: flex;
    width: 250px;
    margin: 15px auto;
}
#scroll-arrow {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    animation: arrow-animation 2s infinite;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes arrow-animation {
    0% { transform: rotate(45deg) translate(0, 0); opacity: 1; }
    50% { transform: rotate(45deg) translate(0px, 20px); opacity: 0; }
    100% { transform: rotate(45deg) translate(0, 0); opacity: 1; }
}


.section1, .section2, .section3 {
    align-items: center;
    margin: 30px 20px;
}

.p {
    margin-top: 0;
    font-size: 24px; /* Increase the font size */
    font-weight: 500; /* Make the font semi-bold */
    line-height: 1.6; /* Increase the line-height */
}

.mainImage, .introImage, .image1, .outroImage {
    display: block;
    width: 100%;
    height: auto;
}

strong {
    font-weight: 700; /* Make the strong text bold */
}

.centered-text {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1300px){
    /* 여기에 태블릿 및 데스크톱 디바이스에 적용할 CSS를 작성합니다. */
    .main .button_register {
        padding:10px 15px;
        border: none;
        border-radius: 3px; /* 버튼의 모서리를 둥글게 만듭니다 */
        background-color: rgb(114, 189, 114);
        font-size: 14px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin-left: 2px;
    }
    .main .content .section .button{
        padding: 15px 45px;
        border: none;
        border-radius: 3px; /* 버튼의 모서리를 둥글게 만듭니다 */
        background-color: rgb(114, 189, 114);
        margin-right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-bottom: 30px;
        border: 1px solid #72bd72;
    }
    .main .header {
        padding: 2vw; /* 헤더의 패딩을 늘립니다. */
    }

    .main .logo {
        height: 6vw; /* 로고의 크기를 늘립니다. */
    }

    .button-group {
        margin-left: 1vw; /* 버튼 그룹의 마진을 늘립니다. */
    }

    .main .button_register {
        font-size: 1.6vw; /* 버튼의 폰트 크기를 늘립니다. */
        padding: 1.2vw 2vw; /* 버튼의 패딩을 늘립니다. */
    }

    .content {
        padding-top: 12vw; /* 콘텐츠의 패딩을 늘립니다. */
        width: 100vw;
    }

    .section .p {
        font-size:4vw; /* 문단의 폰트 크기를 늘립니다. */
        margin: 3vw auto;
    }

    .main .content .section .button {
        font-size: 2.4vw; /* 버튼의 폰트 크기를 늘립니다. */
        padding: 1.5vw 4vw; /* 버튼의 패딩을 늘립니다. */
    }

    .arrow {
        border: solid black;
        border-width: 0 0.3vw 0.3vw 0;
        display: inline-block;
        padding: 1vw;
        width: 1.5vw;
        margin-top: 2vw;
        animation: arrow-animation 2s infinite;
    }
    .section1, .section2, .section3 {
        margin: 3vw 2vw;
        font-size: 3vw; /* 화면의 너비에 따른 폰트 크기 설정 */
    }



}
@media (min-width: 1301px){
    .main .button_register {
        padding:10px 15px;
        border: none;
        border-radius: 3px; /* 버튼의 모서리를 둥글게 만듭니다 */
        background-color: rgb(114, 189, 114);
        font-size: 14px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin-left: 2px;
    }
    .main .content .section .button{
        padding: 15px 45px;
        border: none;
        border-radius: 3px; /* 버튼의 모서리를 둥글게 만듭니다 */
        background-color: rgb(114, 189, 114);
        font-size: 24px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 15px;
        margin-bottom: 30px;
        border: 1px solid #72bd72;
    }
    .main .header {
        padding: 26px; /* 헤더의 패딩을 고정합니다. */
    }

    .main .logo {
        height: 78px; /* 로고의 크기를 고정합니다. */
    }

    .button-group {
        margin-left: 13px; /* 버튼 그룹의 마진을 고정합니다. */
    }

    .main .button_register {
        font-size: 21px; /* 버튼의 폰트 크기를 고정합니다. */
        padding: 16px 26px; /* 버튼의 패딩을 고정합니다. */
    }

    .content {
        padding-top: 156px; /* 콘텐츠의 패딩을 고정합니다. */
    }

    .section .p {
        font-size: 52px; /* 문단의 폰트 크기를 고정합니다. */
        margin: 39px auto;
    }

    .main .content .section .button {
        font-size: 31px; /* 버튼의 폰트 크기를 고정합니다. */
        padding: 20px 52px; /* 버튼의 패딩을 고정합니다. */
    }

    .arrow {
        border: solid black;
        border-width: 0 3.9px 3.9px 0;
        display: inline-block;
        padding: 13px;
        width: 20px;
        margin-top: 26px;
        animation: arrow-animation 2s infinite;
    }
    .section1, .section2, .section3 {
        margin: 39px 26px;
        font-size: 39px; /* 폰트 크기를 고정합니다 */
    }
}


