body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    max-width: 100%;
}

.login-container .logo {
    width: 80%;
    height: auto;
    margin-top: 10%;
}

h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.kakao-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.kakao-login-button img {
    margin-top: 50%;
    width: 5%;
    height: auto;
}

.kakao-login-button:focus {
    outline: none;
}

/* 반응형 웹페이지 설정 */
@media (max-width: 767px) {
    .login-container .logo {
        width: 80%;
        margin-top: 40%;
    }

    h2 {
        font-size: 20px;
    }

    .kakao-login-button img {
        margin-top: 60%;
        width: 50%;
    }
}
