/* 모바일 전용 설정 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.logo {
    margin-top: 30px;
    width: 150px;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 70px;
    padding: 0 5px;
}


.diary-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.diary-list-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.diary-list-item button {
    font-size: 18px;
    background: none;
    border: none;
}
.buttons-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.diary-list-item button {
    font-size: 18px;
    background: none;
    border: none;
    margin-right: 5px;
}
.diary-list-item p {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: white;
    position: fixed;
    margin-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
