 모바일 전용 설정
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.logo {
    width: 150px;
}


/* 변경된 코드 */
 .main_container {
     display: grid;
     grid-template-columns: 1fr;
     gap: 10px;
     width: 100%;
     margin-top: 90px;
     margin-bottom: 80px;
     align-items: center;
     justify-items: center;
 }



.main-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    box-sizing: border-box;
}


.main-list-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-list-item button {
    font-size: 18px;
    background: none;
    border: none;
}
.buttons-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.main-list-item button {
    font-size: 18px;
    background: none;
    border: none;
    margin-right: 5px;
}
.main-list-item p {
    margin: 0;
    padding: 10px;
}
