.myDiary .myHeader {
    display: flex;
    width: 100%; /* 필요에 따라 조정 */
    margin: 0px 0px;
    padding: 5px 0px;
}

.myDiary .myHeader .myLogo {
    width: 250px;
    margin: 10px auto 30px;
}
.myDiary {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(237, 253, 227, 1) 100%);
    color: white; /* 모든 글씨를 흰색으로 바꿈 */
}
.logo3 {
    width: 280px;
    margin-top: 5px;
}
.my-read-image img {
    width: 100%; /* 그림 크기를 줄임 (이 값은 적절히 조절 가능) */
    height: auto;
    box-shadow: 0px 0px 90px  rgb(114, 189, 114); /* 그림에 Drop shadow를 추가 */
    margin-bottom: 30px;
}
.my-read-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    color: #333;
    width: 310px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 40px;

}
.toggle{
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #72bd72;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.my-read-title {
    font-size: 1.6em; /* 조절하고 싶은 크기로 변경 */
}

.my-read-text p {
    font-size: 1em;
}
.my-read-text.open {
    display: block; /* 토글이 켜졌을 때 텍스트를 보여줌 */
}
.my-read-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    color: black;
}


.pText{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #333;
    width: 310px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 5px;
}
.pText p{
    margin: 3px;
}